name: Coverage Build - Jazzy
on:
  workflow_dispatch:
  pull_request: &event
    branches:
      - main
    paths:
      - '**.hpp'
      - '**.h'
      - '**.cpp'
      - '**.py'
      - '**.yaml'
      - '.github/workflows/coverage.yml'
      - '**/package.xml'
      - '**/CMakeLists.txt'
      - 'codecov.yml'
  push: *event

jobs:
  coverage_jazzy:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-build-coverage.yml@master
    secrets: inherit
    with:
      ros_distro: jazzy
