name: format

on:
  push:
    tags:
      - '*'
    branches:
      - humble
      - jazzy
      - '*-devel'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

# Do not run multiple jobs for the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
